.LogComponent {
  margin: 30px 0 0 20px;
  width: 85%;

  #log-grid {
    margin-left: 1rem;
  }

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .page-title {
      margin-left: 1.5rem;
    }
  }

  .filter-button-container {
    margin-right: 3rem;
    padding: 8px 16px;
  }

  @media (max-width: 700px) {
    & {
      width: 95%;
    }

    .page-header {
      .page-title {
        margin-left: 0;
      }
    }

    .filter-button-container {
      margin-right: 0;
    }
  }
}
